body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1{
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bottomHalfPage{
  display: flex;
  flex-direction: row;
}

.sideBarRight{
  display: flex;
  flex-direction: column;
  width: 345px;
  height: 1658px;
  background-color: aliceblue;
  padding-top: 34px;
  align-content: center;
  align-items: center;
  gap: 50px;
  
}

.watchLiveCont{
  display: flex;
  flex-direction: column;
}

.watchComponents{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.groupChatsCont{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.middleSection{
  display: flex;
  flex-direction: column;
  margin: 5px;
  background-color: rgb(215, 215, 215);
  align-items: center;
  gap: 10px;
}

.storyReelsCont{
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 3px;
  background-color: white;
  border: none;
  border-radius: 7px;
  width: 710px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}



