.groupChat{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.groupText{
    font-weight: 800px;
    font-family: Arial, Helvetica, sans-serif;
}