.navBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    padding-top: 28px;
    padding-bottom: 16px;
    padding-left:24px;
    gap: 540px;

}

.homeCont{
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.homeIcon{
    width: 28px;
    height: 28px;
}