.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;

}

.homeCont{
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.homeIcon{
    width: 28px;
}